@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-900 text-white antialiased selection:bg-blue-500 selection:text-white;
  }
  
  html {
     scroll-behavior: smooth;
  }
}
